/Calculator.exe
/Calculator.o
/GuessingNumber.exe
/GuessingNumber.o
/PalindromeChecker.exe
/PalindromeChecker.o
/rockPaperScissorGame.exe
/rockPaperScissorGame.o
/save
/TemperatureConversion.exe
/TemperatureConversion.o